In [ ]:
numbers_x = [10, 20, 30, 40, 10]
# output True

numbers_y = [75, 65, 35, 75, 30]
# Output False

#Write a code to return True if the list’s first and last numbers are the same. If the numbers are different, return False.

def kontrol(input_list):
  ilk = input_list[0]
  son = input_list[-1]
  if ilk == son:
    return True
  else:
    return False

print(kontrol(numbers_x))
print(kontrol(numbers_y))

True
False

In [ ]:
#Write a Python code to display numbers from a list divisible by 5

#Given list is  [10, 20, 33, 46, 55]
#Divisible by 5
#10
#20
#55

numbers=[10, 20, 33, 46, 55]

def bölünme(input_list):
  for i in range(len(input_list)):
    if input_list[i]%5==0:
      print(input_list[i]);

bölünme(numbers)

10
20
55

In [ ]:
#1
#2 2
#3 3 3
#4 4 4 4
#5 5 5 5 5



def piramit():
  for i in range(1, 6):  # Outer loop for rows (from 1 to 5)
    for j in range(i):  # Inner loop for printing numbers in each row
      print(i, end=" ") # Print the row number followed by a space
    print()  # Move to the next line after each row


piramit()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
sayı=int(input("Lütfen bir sayı girin:"))

def palindrome(x):
  dönustur=str(x)
  ters=dönustur[::-1]
  if dönustur==ters:
    print("Evet girdiğiniz {} sayısı palindrome bir sayıdır".format(x));
  else:
    print("Hayır girdiğiniz {} sayısı palindrome bir sayı değildir ".format(x))

palindrome(sayı)

Lütfen bir sayı girin:556
Hayır girdiğiniz 556 sayısı palindrome bir sayı değildir

In [ ]:
# Exercise 10:

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

def harman(input_list1,input_list2):
  yeni_list=[]
  for i in range(len(input_list1)):
    if input_list1[i]%2!=0:
      yeni_list.append(input_list1[i])
  for i in range(len(input_list2)):
    if input_list2[i]%2==0:
      yeni_list.append(input_list2[i])
  print(yeni_list)

harman(list1,list2)

[25, 35, 40, 60, 90]

In [ ]:
# Exercise 11:

number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

In [ ]:
# Exercise 12:

#ilk 10k için 0% ikinci 10k için 10% sonrası 20%

gelir= 45000

vergi=int(10000*(0/100))+(10000*(10/100))+(25000*(20/100))

print("gelir verginiz:",vergi)

gelir verginiz: 6000.0

In [ ]:
#Exercise 13:

def tablo():
  x=0
  while x in range(0,11):
    for i in range (1,11):
      carpma= x*i
      print(x,"x",i,"=",carpma)
    x+=1
    print("\t");
tablo()

0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
0 x 10 = 0

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
def piramit():
  for i in range(5, 0, -1):  # Outer loop for rows (from 5 down to 1)
    for j in range(0,i-1):  # Inner loop for printing stars in each row
      print("*", end=" ") # Print the row number of stars followed by a space
    print()  # Move to the next line after each row


piramit()

* * * *
* * *
* *
*

In [ ]:
# Exercise 15:
base = 2
exponent =-5

def üs_alma(base,exponent):
  print("base:{} and exponent:{}".format(base,exponent),base**exponent)

üs_alma(base,exponent)

base:2 and exponent:-5 0.03125

In [ ]:
#Exercise 16:

def is_palindrome_while_loop(number):

    original_number = number
    reversed_number = 0

    while number > 0:
        remainder = number % 10
        reversed_number = (reversed_number * 10) + remainder
        number //= 10

    return original_number == reversed_number

# Example usage:
print(is_palindrome_while_loop(121))   # Output: True
print(is_palindrome_while_loop(123))   # Output: False

True
False

In [ ]:
#Exercise 17:

sayı1=0
sayı2=1

for i in range(0,16):
  toplam=sayı1+sayı2
  sayı1=sayı2
  sayı2=toplam
  print(toplam,end=" ")

1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [ ]:
# Exercise 18: leap year:

year = 2020
# Output True





def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

print(is_leap_year(2020))
print(is_leap_year(2018))
print(is_leap_year(1900))
print(is_leap_year(2000))
print(is_leap_year(2025))

True
False
False
True
False

In [ ]:
# Exercise: 19: "Print Alternate Prime Numbers till 20"
liste=[]
for i in range(2,21):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    liste.append(i)
print("1 to 20 prime numbers are:",liste)

1 to 20 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
# Exercise 20: Print Reverse Number Pattern

for i in range(11,0,-1):
  for j in range(1,i-1):
    print(j,end=" ")
  print()

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [3]:
#Exercise 21: Check if a user-entered string contains any digits using a for loop

a=input("Please enter a string:")

for digit in a:
  if digit.isdigit():
    print("String contains a digit")
    break
else:
  print("String does not contain a digit")

Please enter a string:anan78
String contains a digit

In [4]:
# Exercise 22: Capitalize the first letter of each word in a string

str1 = "pynative.com is for python lovers"

def cap(input_str):
  yeni_str=input_str.title()
  print(yeni_str)

cap(str1)

Pynative.Com Is For Python Lovers

In [10]:
# Exercise 23: Create a simple countdown timer using a while loop.
import time

def countdown_timer(seconds):

  while seconds > 0:
    print(f"Time remaining: {seconds} seconds")
    time.sleep(1)
    seconds -= 1

  print("Time's up!")


duration = 5
countdown_timer(duration)

Time remaining: 5 seconds
Time remaining: 4 seconds
Time remaining: 3 seconds
Time remaining: 2 seconds
Time remaining: 1 seconds
Time's up!